/* Estilo general para el cuerpo de las páginas */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Estilo para el enlace de salto al contenido principal */
.skip-link {
  position: absolute;
  top: -40px; /* Mueve el enlace fuera de la vista */
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  z-index: 1000;
}

.skip-link:focus {
  top: 0; /* Muestra el enlace cuando está enfocado */
}

/* Estilo para la etiqueta header */
header {
  background-color: grey;
}

/* Estilo para la etiqueta nav */
nav {
  display: inline-block; /* Cambia la visualización del nav */
  width: 100%; /* Ajusta el ancho del nav */
  background-color: #333;
}

/* Comentar el estilo existente para el elemento li */
li {
  display: inline-block;
  width: 301px;
}


/* Estilo para la imagen dentro del nav */
nav img {
  width: 10%; /* Ajusta la anchura de las imágenes en el nav */
}

/* Estilo para la etiqueta h1 */
h1 {
  text-align: center;
  font-family: 'Georgia', serif;
  color: blue;
}

/* Estilo para la etiqueta p */
p {
  line-height: 1.6;
}

/* Estilo para la clase grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 40%); /* Crea una rejilla de dos columnas con cada columna al 40% */
  gap: 10px; /* Espacio entre las filas y columnas */
}

/* Estilo para las imágenes dentro de la clase grid */
.grid img {
  width: 100%; /* Ajusta la anchura de las imágenes dentro de la rejilla */
}

/* Ajustar la clase grid para copiar el aspecto de las capturas de pantalla anteriores */
.grid {
  justify-content: center; /* Ajusta la alineación horizontal de los ítems */
  align-items: start; /* Ajusta la alineación vertical de los ítems */
  row-gap: 20px; /* Ajusta el espacio entre las filas */
}

/* Estilo para la clase flex */
.flex {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
  justify-content: space-around; /* Ajusta el espacio entre los elementos */
}


footer{
  background-color: gray;
}

a {
  text-decoration: none;
  color: green;
}